@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body *{
  font-family: 'Poppins', sans-serif;
  /* font-family: "Open Sans", sans-serif; */

}

html,body,#app,main{
  width: 100%;
  height: 100%;
}
main{
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background: #F4F9FE;
}
body{
  overflow: hidden;
}

:root {
  --theme-primary: #40B6F4;
  --theme-primary-dark: #3b82f6;
  --theme-primary-soft: #E0F3FE;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dp__input_reg{
  border-radius: 0.5rem !important;
}